*
!.github
!.github/*
!Core
!Core/*
!dinput8
!dinput8/*
# !Eva
# !Eva/*
# !Kyrie
# !Kyrie/*
# !Lucia
# !Lucia/*
!Mary
!Mary/*
!Scripts
!Scripts/*.js
!stb
!stb/*
!.gitattributes
!.gitignore
!.gitmodules
!LICENSE.txt
!README.md
*/prep_*
