*
!.github
!.github/*
!Core
!Core/*
!Eva
!Eva/*
!Kyrie
!Kyrie/*
!Lucia
!Lucia/*
!Mary
!Mary/*
!Scripts
!Scripts/*.js

!ThirdParty
!ThirdParty/*

!ThirdParty/ImGui
!ThirdParty/ImGui/*.cpp
!ThirdParty/ImGui/*.h
!ThirdParty/ImGui/LICENSE.txt

!ThirdParty/libzip
!ThirdParty/libzip/*.c
!ThirdParty/libzip/*.h
!ThirdParty/libzip/AUTHORS
!ThirdParty/libzip/LICENSE

!ThirdParty/rapidjson
!ThirdParty/rapidjson/error
!ThirdParty/rapidjson/error/*.h
!ThirdParty/rapidjson/internal
!ThirdParty/rapidjson/internal/*.h
!ThirdParty/rapidjson/msinttypes
!ThirdParty/rapidjson/msinttypes/*.h
!ThirdParty/rapidjson/*.h
!ThirdParty/rapidjson/license.txt

!ThirdParty/stb
!ThirdParty/stb/*.h
!ThirdParty/stb/LICENSE

!ThirdParty/zlib
!ThirdParty/zlib/*.c
!ThirdParty/zlib/*.h
!ThirdParty/zlib/README

!/.gitattributes
!/.gitignore
!/ConfigFunctions.h
!/core.js
!/ddmk.js
!/dinput8.cpp
!/GlobalBase.ixx
!/GUIBase.ixx
!/HooksBase.ixx
!/LICENSE.txt
!/README.md
!/run.js
prep_*
