*
!.github
!.github/*
!Core
!Core/*
!Eva
!Eva/*
!Kyrie
!Kyrie/*
!Lucia
!Lucia/*
!Mary
!Mary/*
!Scripts
!Scripts/*.js
!stb
!stb/*
!.gitattributes
!.gitignore
!.gitmodules
!dinput8.cpp
!GlobalBase.ixx
!GUIBase.ixx
!HooksBase.ixx
!LICENSE.txt
!README.md
*/prep_*
